<%= stylesheet_link_tag "application" %>
<div class="smart-green">
  <h1>Coordenadores</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>Contratado em</th>
        <th>Líder (ID)</th>
        <th colspan="2">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @coordinators.each do |coordinator| %>
        <tr>
          <td><%= coordinator['name'] %></td>
          <td><%= coordinator['surname'] %></td>
          <td><%= coordinator['age'] %></td>
          <td><%= coordinator['hiredAt'] %> </td>
          <td><%= coordinator['leaderId'] %> </td>
          <td><%= link_to 'Editar', edit_coordinator_path(coordinator['name']) %></td>
          <td><%= link_to 'Deletar', Coordinator.where(name: coordinator['name']).first, method: "delete" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br><br>
  <a href='/coordinators/new'><span class="button-send">Novo</span></a>
  <a href='/'><span class="button-back">Voltar</span></a>
</div>
