<%= stylesheet_link_tag "application" %>

<div class="smart-green">
  <center><h1>O que deseja fazer?</h1></center>
  <center><h2>(Criar/Consultar/Atualizar/Deletar)</h2></center>
  <ul>
    <h2>
      <li><%= link_to "Empresas", companies_path %></li>
      <li><%= link_to "Fundadores", foundators_path %></li>
      <li><%= link_to "Líderes", leaders_path %></li>
      <li><%= link_to "Coordenadores", coordinators_path %></li>
      <li><%= link_to "Empregados", employees_path %></li>
    </h2>
  </ul>
</div>
