<%= stylesheet_link_tag "application" %>
<div class="smart-green">
    <h1 class='display-4 my-5'>Criar nova empresa </h1>
    <hr>

<%= form_tag companies_create_path, method: :post do %>
  <div class="form-group row">
    <div class="col-sm-12 col-md-2">
      <%= label_tag 'company[name]', 'Nome:', class: 'control-label' %>
    </div>
    <div class="col-sm-12 col-md-10">
      <%= text_field_tag 'company[name]', params[:company].try(:[], 'name'), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 col-md-2">
      <%= label_tag 'company[cnpj]', 'CNPJ:', class: 'control-label' %>
    </div>
    <div class="col-sm-12 col-md-10">
      <%= text_field_tag 'company[cnpj]', params[:company].try(:[], 'cnpj'), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 col-md-2">
      <%= label_tag 'company[foundation]', 'Fundada em:', class: 'control-label' %>
    </div>
    <div class="col-sm-12 col-md-10">
      <%= text_field_tag(
        'company[foundation]',
        params[:company].try(:[], 'foundation'),
        class: 'form-control datepicker',
        placeholder: 'DD/MM/AAAA'
      )%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :system, 'Fundador:' %>
    <%= select_tag(
      'company[foundator_name]',
      options_for_select([
        'Selecione um Fundador', @foundators.map { |foundator| foundator['name'] }
      ].flatten, disabled: "Selecione um Fundador", selected: "Selecione um Fundador"),
      class: 'form-control type_select'
    ) %>
  </div>

  <br>
  <div class="form-group row">
    <div class="col-sm-12 col-md-12">
      <%= submit_tag 'Criar', class: 'btn btn-primary pull-right' %>
    </div>
    <br>
    <a href='/companies'><span class="button-back">Voltar</span></a>
  </div>
<% end %>
</div>
